* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: 'Inter', sans-serif;
  text-align: center;
}

h1 {
  color:white;
}

.buttons {
  display: flex;
  align-items: center;
}

.results {
  color:whitesmoke;
  margin-bottom: 10px;
}

span {
  color:white;
}

input {
  padding: 6px 20px;
  size: 20%;
  width: 47.3%;
  box-sizing: border-box;
  border-radius: 4px;
}

#button {
  margin: 10px;
}

p {
  padding: 5px;
  font-size: large;
  text-align: center;
}
